body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa !important;
}

.container {
  max-width: 1000px !important;
}

footer {
  font-size: 12px;
  margin-bottom: 40px;
}

footer .link {
  color: #0d8b7d;
  text-decoration: none;
}
